body{
    margin:0;
    padding: 0;
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 243, 230);
    font-family: "Roboto Mono", cursive;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 300;

}
main{
   
    width:70%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.carousel{

    width:100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
}
.carousel-inner{

    width:100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
}
.carousel-item{
    width:100%;
    height: 100%;

    padding: 0%;
    margin: 0%;
}
.homePage{
    height: 100%;
    width:100%;
   display: flex;
   flex-direction: column;
    justify-content: space-around;
}

.category{
    width: 60%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
   margin: auto;
   margin-top: 0%;
   margin-bottom: 0px;
}
.category-div{
    width:30%;
    height: 30%;
  
    opacity: 0.4;
    transition: all 1.5s;
    
}
.category-div:hover{
    opacity: 1;
    cursor: pointer;
    border:0.5px solid black;
    box-shadow: 5px 5px 2px rgb(195, 193, 193);
}
/* #Linux{
    background-image: url("https://wallpapercave.com/wp/1OXs33V.jpg");
    background-size:cover;
    background-repeat: no-repeat;
  
} */

/* #Bash{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/396/50/367/linux-command-lines-unix-bash-grey-hd-wallpaper-preview.jpg");
    background-size:cover;
    background-repeat: no-repeat;
} */
/* #Docker{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/414/284/24/docker-containers-brand-wallpaper-preview.jpg");
    background-size:cover;
    background-repeat: no-repeat;
} */
/* #SQL{
    background-image: url("https://static.vecteezy.com/system/resources/previews/012/614/985/large_2x/hand-showing-sql-word-and-sql-structured-query-language-code-with-server-room-background-photo.jpg");
    background-size:cover;
    background-repeat: no-repeat;
/* } */
/* #code{
    background-image: url("https://static.vecteezy.com/system/resources/previews/013/947/325/original/programming-language-word-concepts-blue-banner-computer-commands-infographics-with-icons-on-color-background-isolated-typography-illustration-with-text-vector.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}
#devops{
    background-image: url("https://static.vecteezy.com/system/resources/previews/008/902/912/non_2x/devops-banner-concept-has-8-steps-to-analyze-such-as-plan-code-build-operate-deploy-test-monitor-and-release-for-software-development-and-information-technology-operations-infographic-vector.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}
 */ 

/* Difficulty Page */
.difficulty{
    width: 80%;
    height: 80%;
    margin: auto;
}
.difficulty-levels{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    height: 80%;
    text-align: center;
}
.level{
    width:30%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black;
    opacity: 0.33;
    transition: all 1.5s;
}
.level:hover{
    opacity: 1;
    cursor: pointer;
    font-size: 1.5rem;
}

#easy{
    background-color: rgb(156, 211, 156);
    color: rgb(2, 71, 2);
    border: solid green;
}
#medium{
    background-color: rgb(252, 198, 98);
    color: rgb(149, 97, 1);
    border: solid orange;
}
#hard{
    background-color: rgb(254, 135, 135);
    color: rgb(104, 2, 2);
    border: solid red;
}

/* Start Quiz Section */

.start-quiz{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
 
}
.quizInfo{
    width:100%;
    display: flex;
    justify-content: space-around;
}

button{
    width:10rem;
    height: 4rem;
    background-color: rgb(246, 244, 120);
    border:solid rgb(174, 171, 6);

    transition: all 1.5s ease-in-out;
}
button:hover{
    box-shadow: 5px 5px 3px rgb(150, 149, 113);
}

.question{
    padding: 2rem;
    background-color: rgb(246, 246, 237);
    border: 0.5px solid black;
    border-radius: 8px;
    text-align: left;
}
.multiple-choices{
    text-align: left;
    padding-left: 3rem;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 12px;
    background-color: rgb(202, 223, 221);
}
.choice{
    background-color: rgb(246, 246, 237);
    
    width: 80%;
    height: 4rem;
    padding: auto;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-radius: 12px;
    border: 1px solid black;

}

label{
    padding-left: 1rem;
}
label:hover{
    cursor: pointer;
}
#nextQuestion{
    float: right;
    margin-top: 20px;
    border-radius: 0px 100% 100% 0px;
}
#prevQuestion{
    float: left;
    margin-top: 20px;
    border-radius: 100% 0% 0% 100%;
}